<div class="tweet-list">
      <% tweets.each do |tweet| %>
        <%= erb :'partials/tweet', :layout => false, :locals => {:id => tweet.id, :name => tweet.user.username, :content => tweet.content, :updated_at => tweet.updated_at }%>
      <% end %>
</div>
