<div class="tweet-list">
      <% tweets.each do |tweet| %>
        <%= erb :'partials/tweet', :layout => false, :locals => { :name => tweet.user.username, :content => tweet.content} %>
      <% end %>
</div>
