<div class="container">
  <h1>This is your home feed, <%=@username%>!</h1>

  <form id="new_tweet" action="/home" method="post">
    <label for="tweet">Send a tweet:<br></label>
    <textarea class='tweet_content' name="content" placeholder="New tweet here&hellip;"></textarea>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <div class="tweet-list">
    <%=@div_string  %>

  </div>


</div>
