<div class="container">
  <h1>This is your home feed, <%=@name%>!</h1>

  <form id="new_tweet" action="/home" method="post">
    <label for="tweet">Your tweet</label>
    <textarea name="content" placeholder="New tweet here&hellip;"></textarea>
    <input type="submit" value="Submit">
  </form>

  <div class="tweet-list">
    <ul>
      <%@  %>
      <li></li>
    </ul>
  </div>


</div>
