<div class="container">
  <h1>Welcome to Lil' Twitter!</h1>

  <form action="/" method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Login">
  </form>

</div>
